:root {
  --pikachu-yellow: #FFCB05;
  --pokeball-red: #FF3E3E;
  --pokeball-white: #F2F2F2;
  --pokeball-black: #313131;
  --bg-blue: #3A5DAA;
}

body {
  background-color: var(--bg-blue);
  color: var(--pokeball-white);
  font-family: 'Arial', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--pokeball-white);
  border-radius: 1rem;
  color: var(--pokeball-black);
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--pikachu-yellow));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: var(--pokeball-red);
  color: var(--pokeball-white);
  border-radius: 1rem;
  margin: 1rem;
}

.read-the-docs {
  color: var(--pokeball-black);
}
